<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Untitled Page</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="css/Untitled2.css?v=0" rel="stylesheet">
<link href="css/index.css?v=0" rel="stylesheet">
</head>
<body>
   <div id="wb_indexLayoutGrid2">
      <div id="indexLayoutGrid2">
         <div class="row">
            <div class="col-1">
               <div id="indexHtml2" style="display:inline-block;width:74px;height:21px;z-index:0">
               </div>
               <div id="wb_indexHeading1" style="display:inline-block;width:100%;z-index:1;">
                  <h1 id="indexHeading1">WeBro Example webpage</h1>
               </div>
               <div id="wb_indexHeading2" style="display:inline-block;width:100%;z-index:2;">
                  <h6 id="indexHeading2">combination between powershell and node.js.<br>powershell is built in windows either node.js is cross-platform</h6>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div id="wb_indexLayoutGrid3">
      <div id="indexLayoutGrid3">
         <div class="row">
            <div class="col-1">
               <div id="indexHtml1" style="display:inline-block;width:74px;height:35px;z-index:3">
               </div>
            </div>
         </div>
      </div>
   </div>
   <div id="wb_indexLayoutGrid1">
      <div id="indexLayoutGrid1">
         <div class="row">
            <div class="col-1">
            </div>
            <div class="col-2">
               <div id="wb_indexImage1" style="display:inline-block;width:100%;height:auto;z-index:4;">
                  <img src="images/powershell%2d4a119eeac9.png" id="indexImage1" alt="" width="131" height="131">
               </div>
            </div>
            <div class="col-3">
               <div id="wb_indexImage2" style="display:inline-block;width:100%;height:auto;z-index:5;">
                  <img src="images/nodejs%2dicon%2dlogo%2dpng%2dtransparent.png" id="indexImage2" alt="" width="131" height="144">
               </div>
            </div>
            <div class="col-4">
            </div>
         </div>
      </div>
   </div>
</body>
</html>