body
{
   background-color: #FFFFFF;
   background-image: url('../Abstract%20Background%20With%20Low%20Poly%20Design.jpeg');
   background-attachment: scroll;
   background-position: left top;
   background-repeat: repeat;
   background-size: cover;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
#wb_indexLayoutGrid2
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#indexLayoutGrid2
{
   box-sizing: border-box;
   padding: 0 15px 0 15px;
   margin-right: auto;
   margin-left: auto;
}
#indexLayoutGrid2 > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#indexLayoutGrid2 > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#indexLayoutGrid2 > .row > .col-1
{
   float: left;
}
#indexLayoutGrid2 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 100%;
   text-align: center;
}
#indexLayoutGrid2:before,
#indexLayoutGrid2:after,
#indexLayoutGrid2 .row:before,
#indexLayoutGrid2 .row:after
{
   display: table;
   content: " ";
}
#indexLayoutGrid2:after,
#indexLayoutGrid2 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#indexLayoutGrid2 > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#wb_indexLayoutGrid3
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#indexLayoutGrid3
{
   box-sizing: border-box;
   padding: 0 15px 0 15px;
   margin-right: auto;
   margin-left: auto;
}
#indexLayoutGrid3 > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#indexLayoutGrid3 > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#indexLayoutGrid3 > .row > .col-1
{
   float: left;
}
#indexLayoutGrid3 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 100%;
   text-align: left;
}
#indexLayoutGrid3:before,
#indexLayoutGrid3:after,
#indexLayoutGrid3 .row:before,
#indexLayoutGrid3 .row:after
{
   display: table;
   content: " ";
}
#indexLayoutGrid3:after,
#indexLayoutGrid3 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#indexLayoutGrid3 > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#wb_indexLayoutGrid1
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#indexLayoutGrid1
{
   box-sizing: border-box;
   padding: 0 15px 0 15px;
   margin-right: auto;
   margin-left: auto;
}
#indexLayoutGrid1 > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#indexLayoutGrid1 > .row > .col-1, #indexLayoutGrid1 > .row > .col-2, #indexLayoutGrid1 > .row > .col-3, #indexLayoutGrid1 > .row > .col-4
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#indexLayoutGrid1 > .row > .col-1, #indexLayoutGrid1 > .row > .col-2, #indexLayoutGrid1 > .row > .col-3, #indexLayoutGrid1 > .row > .col-4
{
   float: left;
}
#indexLayoutGrid1 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 33.33333333%;
   text-align: left;
}
#indexLayoutGrid1 > .row > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 16.66666667%;
   text-align: center;
}
#indexLayoutGrid1 > .row > .col-3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 16.66666667%;
   text-align: left;
}
#indexLayoutGrid1 > .row > .col-4
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 33.33333333%;
   text-align: left;
}
#indexLayoutGrid1:before,
#indexLayoutGrid1:after,
#indexLayoutGrid1 .row:before,
#indexLayoutGrid1 .row:after
{
   display: table;
   content: " ";
}
#indexLayoutGrid1:after,
#indexLayoutGrid1 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#indexLayoutGrid1 > .row > .col-1, #indexLayoutGrid1 > .row > .col-2, #indexLayoutGrid1 > .row > .col-3, #indexLayoutGrid1 > .row > .col-4
{
   float: none;
   width: 100% !important;
}
}
#wb_indexImage1
{
   margin: 0;
   vertical-align: top;
}
#indexImage1
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 512px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#wb_indexImage2
{
   margin: 0;
   vertical-align: top;
}
#indexImage2
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 634px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#wb_indexHeading1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   vertical-align: top;
   margin: 0;
   padding: 0;
   text-align: center;
}
#indexHeading1
{
   color: #A0A0A0;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 32px;
   margin: 0;
   text-align: center;
}
#wb_indexHeading2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   vertical-align: top;
   margin: 0;
   padding: 0;
   text-align: center;
}
#indexHeading2
{
   color: #A0A0A0;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 21px;
   margin: 0;
   text-align: center;
}
